<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1 ,user-scalable=no">
<title><%= meta.title %></title>
<meta name="description" content="<%= meta.description %>">
<meta name="keywords" content="<%= meta.keyword %>">
<meta name="author" content="Norikazu Teraguchi">

<!-- fb ogp -->     
<meta property="og:title" content="<%= meta.fb.tit %>" />
<meta property="og:type" content="<%= meta.fb.type %>" />
<meta property="og:url" content="<%= meta.fb.url %>" />
<meta property="og:image" content="<%= meta.fb.img %>" />
<meta property="og:site_name" content="<%= meta.fb.siteName %>" />
<meta property="og:description" content="<%= meta.fb.des %>" />